version: '3.9'

volumes:
  prometheus-data:
    driver: local
  grafana-storage:
    driver: local

services:
  rabbit_mq:
    build:
      context: ../
      dockerfile: ./docker/rabbit_mq/Dockerfile
    container_name: rabbit_mq
    ports:
      - "5672:5672"

  prometheus:
    build:
      context: ../
      dockerfile: ./docker/prometheus/Dockerfile
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus-data:/prometheus

  grafana:
    build:
      context: ../
      dockerfile: ./docker/grafana/Dockerfile
    image: grafana/grafana-enterprise
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana

  data_generator:
    build:
      context: ../
      dockerfile: ./docker/data_generator/Dockerfile
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=postgres
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=postgres
    links:
      - postgresdb:db
    ports:
      - "8000:8000"
    depends_on:
      - postgresdb
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -h db -p 5432 -U postgres -d postgres"
        ]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: always

  postgresdb:
    build:
      context: ../
      dockerfile: ./docker/database/Dockerfile
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h localhost -p 5432" ]
      interval: 10s
      timeout: 5s
      retries: 5

  anomaly_detector:
    build:
      context: ../
      dockerfile: ./docker/predictive_maintenance/Dockerfile
    ports:
      - "8001:8001"
