version: '3.9'

networks:
  predictive-maintenance-net:
    driver: bridge

volumes:
  prometheus-data:
    driver: local




services:
  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: rabbitmq
    user: ":"
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - predictive-maintenance-net
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 10

  db:
    build:
      context: ../
      dockerfile: ./docker/database/Dockerfile
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h localhost -p 5432" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - predictive-maintenance-net

  predictive_maintenance:
    build:
      context: ../
      dockerfile: ./docker/predictive_maintenance/Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: always
    networks:
      - predictive-maintenance-net

  data_generator:
    build:
      context: ../
      dockerfile: ./docker/data_generator/Dockerfile
    container_name: data_generator
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=postgres
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=postgres
    depends_on:
      rabbitmq:
        condition: service_healthy
      db:
        condition: service_healthy
    restart: always
    networks:
      - predictive-maintenance-net

  data_aggregator:
      build:
        context: ../
        dockerfile: ./docker/data_aggregator/Dockerfile
      ports:
        - "8003:8003"
      depends_on:
        rabbitmq:
          condition: service_healthy
      networks:
        - predictive-maintenance-net
      restart: always



  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus-data:/prometheus
      - ../prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - predictive-maintenance-net

  grafana:
    image: grafana/grafana-enterprise
    user: ":"
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ../grafana:/var/lib/grafana
      - ../grafana/provisioning:/etc/grafana/provisioning
      - ../grafana/etc/custom.ini:/etc/grafana/grafana.ini
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_SERVER_ALLOW_EMBEDDING=true
      - GF_SECURITY_X_CONTENT_TYPE=""
      - GF_SECURITY_X_FRAME_OPTIONS="ALLOW-FROM localhost:3001"
    networks:
      - predictive-maintenance-net
    depends_on:
      - prometheus


  frontend:
    build:
      context: ../
      dockerfile: ./docker/frontend/Dockerfile
    ports:
      - "3001:3003"
    environment:
      - X_FRAME_OPTIONS=SAMEORIGIN
    networks:
      - predictive-maintenance-net
    depends_on:
      - grafana
      