{{ define "device_critical_subject" }}New critical device: {{ (index .Alerts.Firing 0).Annotations.serial_number  }}{{ end }}
{{ define "device_critical_html" }}
<html>
<head>
<title>New device in critical</title>
</head>
<body>

A new device has moved to a critical state <br/> <br/>

Type: {{ (index .Alerts.Firing 0).Annotations.device_type }} <br/>
Serial number: {{ (index .Alerts.Firing 0).Annotations.serial_number }} <br/> <br/>

<a href="http://localhost:3001/">Go to dashboard</a>

</body></html>
{{ end }}